<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<head>
	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matricula</title>
</head>
<body>
	<form th:action="@{/matriculas/matricular}" th:object="${matriculardto}" method="POST">
		<table class="table table-dark table-striped-columns">
		<tr>
			<td><label>Cedula:</label></td>
			<td><input type="text" th:field="${matriculardto.cedula}" ></td>
		</tr>
			<tr>
			<td><label>Codigo1:</label></td>
			<td><input type="text" th:field="${matriculardto.codigo1}" ></td>
		</tr>
		
			<tr>
			<td><label>Codigo2:</label></td>
			<td><input type="text" th:field="${matriculardto.codigo2}" ></td>
		</tr>
		
			<tr>
			<td><label>Codigo3:</label></td>
			<td><input type="text" th:field="${matriculardto.codigo3}" ></td>
		</tr>
			<tr>
			<td><label>Codigo4:</label></td>
			<td><input type="text" th:field="${matriculardto.codigo4}" ></td>
		</tr>

		</table>
		<input type="submit" value="Matricular" >	
	</form>
	
	
  
</body>
</html>